<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->ignoreVCS(true);

$config = new PhpCsFixer\Config();

return $config->setRules([
        '@PSR2' => true,
        '@PHP80Migration' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'no_trailing_comma_in_singleline_array' => true,
        'braces' => [
            'allow_single_line_anonymous_class_with_empty_body' => true,
            'allow_single_line_closure' => true,
        ],
    ])
    ->setFinder($finder);
